*{
    margin: 0px;
    padding:0px;
}
body{

}
div#header{
    width:100%;
    height: 50px;
    background-color:lightslategray;
    margin: 0 auto;
}
div#header  img{
    padding: 7px;
    width: 30px;
    height: 30px;
    float: left;
}
div#header .logo img{
    padding: 7px;
    width: 30px;
    height: 30px;
    float: left;
}
div#header div.logo ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo a{
    font-size: 1.6em;
}
.logo{
    margin-top: 7px;
    float: left;
    margin-left: 15px;

}
.logo a span{
    font-weight:300;
}
div#container
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0px;
    float: left;
}
.navbar
{
    width: 100%;
    height: 40px;
    background-color: #171717;
}
div.navbar ul
{
    list-style: none;
    display: block;
    color: #1cc7ff;
}
div.navbar ul li{
    float: left;
    display: inline-block;

    margin-left: 50px;
    margin-top: 5px;
    padding: 5px;
    padding-right: 30px;
    border-right: solid thin #0A0A0A;
}
div.navbar ul li a{
    color: snow;
}
div.navbar ul li:hover{
    padding: 8px;
    background-color:#0A0A0A;

}
div#slideshow .slide{
    display: block;
}

.content
{
    width: auto;
    height: 100%;
    margin-left: 250px;
    background-color:snow;
    padding: 15px;

}
ul#nav{


}
ul #nav li{
    list-style: none;
}
ul#nav li a{
    display: block;
    padding: 10px;

    color: red;

    border-bottom: 1px solid #0A0A0A;
    -webkit-transition: 3s;
    -moz-transition: 0.2s;

}
ul#nav li a.selected
{
    background-color:aqua;
}
ul#nav li a img
{
    width: 20px;
    height: 20px;
    float: left;

}
/*ul#nav li a:hover {
    background-color: #030303;
    padding-left: 30px;


}
div#progress
{
    height: 5px;
    width: 100%;
    background-color: #f8f8f8;
}
div#progress div.first{
 float: left;

}
div#progress div.second{
    float: left;

}
div#progress div.third{
    float: left;

}
div#progress div.fourth{
    float: left;

}*/
.slides{
width: 50%;
display: block;
}
#navg a:hover{
color:green;
background-color:#ccccb3;
    padding: 15px 32px;
   
  
    display: inline-block;
    font-size: 9px;

    cursor: pointer;

}
#heading{
font-size:20px;
}
